body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

.menu_internal {
    height: 50%;
	overflow: scroll;
}
p{
padding-left: 5px;
}
h4 {
    margin: 0;
}


        .menu_box {
            font-family: sans-serif;
            height: 90%;
            top: 0;
            right: 0;
            bottom: 0px;
            left: 0;
            margin: 20px 15px 15px 20px;
            position: absolute;

            background: rgb(254,254,254); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(226,226,226,1) 5%, rgba(209,209,209,1) 10%, rgba(209,209,209,1) 10%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 90%, rgba(226,226,226,1) 95%, rgba(226,226,226,1) 95%, rgba(254,254,254,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(5%,rgba(226,226,226,1)), color-stop(10%,rgba(209,209,209,1)), color-stop(10%,rgba(209,209,209,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(90%,rgba(209,209,209,1)), color-stop(95%,rgba(226,226,226,1)), color-stop(95%,rgba(226,226,226,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(226,226,226,1) 5%,rgba(209,209,209,1) 10%,rgba(209,209,209,1) 10%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 90%,rgba(226,226,226,1) 95%,rgba(226,226,226,1) 95%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(226,226,226,1) 5%,rgba(209,209,209,1) 10%,rgba(209,209,209,1) 10%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 90%,rgba(226,226,226,1) 95%,rgba(226,226,226,1) 95%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(226,226,226,1) 5%,rgba(209,209,209,1) 10%,rgba(209,209,209,1) 10%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 90%,rgba(226,226,226,1) 95%,rgba(226,226,226,1) 95%,rgba(254,254,254,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(226,226,226,1) 5%,rgba(209,209,209,1) 10%,rgba(209,209,209,1) 10%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 90%,rgba(226,226,226,1) 95%,rgba(226,226,226,1) 95%,rgba(254,254,254,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */


            border: 1px solid #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 4px #ccc;
        }
      
        #search_field {
            width: 95%;
            margin-right: 3%;
            margin-left: 3%;
            border: 1px solid #333333;
            border-radius:5px;
        }
        h4 {
            margin: 0;
        }


        .cat_title{
            text-align: center;
            color: #000;
            padding: 15px 0 15px 0;
            font-size: 20px;
        }

        #cat_select, #doc_select {
            margin-top: 15px;
            width: 92%;
            margin-left: 4%;
            margin-right: 4%;
            height: 10em;
            padding-left: 5px;
            padding-top: 5px;
            border-radius: 5px;
            border: 1px solid #000;
        }

        select {
            border-bottom-right-radius: 5px !important;
        }


            /**
     * Hint graphic that appears while menu is inactive
     */
              .meny-arrow {

            position: absolute;
            z-index: 10;
            border: 10px solid transparent;
            -webkit-transition: opacity 0.4s ease 0.4s;
            -moz-transition: opacity 0.4s ease 0.4s;
            -ms-transition: opacity 0.4s ease 0.4s;
            -o-transition: opacity 0.4s ease 0.4s;
            transition: opacity 0.4s ease 0.4s;

        }
        .meny-left .meny-arrow {
            left: 14px;
            top: 50%;
            margin-top: -16px;
            border-left: 16px solid #fff;

        }
        .meny-right .meny-arrow {
            right: 14px;
            top: 50%;
            margin-top: -16px;
            border-right: 16px solid #fff;
        }
        .menu_wrapper-top .meny-arrow {
            left: 50%;
            top: 14px;
            margin-left: -16px;
            border-top: 16px solid #333;
        }
        .menu_wrapper-bottom .meny-arrow {
            left: 50%;
            bottom: 14px;
            margin-left: -16px;
            border-bottom: 16px solid #333;
        }
        .meny-active .meny-arrow {
            opacity: 0;

            -webkit-transition: opacity 0.2s ease;
            -moz-transition: opacity 0.2s ease;
            -ms-transition: opacity 0.2s ease;
            -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
        }
        .contents {
            background: #eee;
            padding: 20px 40px;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            -webkit-overflow-scrolling: touch;
            -webkit-transform-style: preserve-3d;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .contents>article {
            max-width: 400px;
        }
        .contents p {
            margin: 10px 0 10px 0;
            font-size: 16px;
            line-height: 1.32;
        }
        .contents small {
            display: block;
            margin-top: 10px;
            padding-top: 10px;
            color: #333;
            font-size: 0.85em;
            border-top: 1px dashed #ccc;

            -webkit-text-size-adjust: none;
        }
        .contents .sharing {
            position: absolute;
            bottom: 20px;
        }
