body {
    background-color: #333;
    overflow: hidden;
}

.menu_wrapper {
    position: absolute;
    right: 10px;
    top: 0;
    width: 420px;
}

.menu_wrapper_flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.nonflex {
    display: block;
}

.wrapper {
    /*background-color: #666;*/
    overflow-x: hidden;
    position: relative;
    /*width: 420px;*/
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    overflow-y: scroll;
    background-color: rgba(65,65,65,0.9);
    /*padding-bottom: 5px;*/
}

.static {
    max-height: 40%;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    width: 100%;
    box-shadow: 0px 6px 12px -8px #000 inset;
}

input {
    margin-left: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    float: left;
    display: block;
    cursor: pointer;
    position: absolute;
}

input:checked {
    /*background-color: #aa6175;
    border-color: #805b65;*/
}

input:focus {
    /*border-color: #aaa;*/
    outline: none;
}

form div {
    /*border: 1px solid #ddd;*/
    padding-top: 3px;
    height: 24px;
    -webkit-user-select: none;
    -webkit-transition: height 0.2s ease-in-out 0.1s, padding 0.2s ease-in-out 0.1s, left 0.2s ease-in-out 0.3s;
    transition: height 0.2s ease-in-out 0.1s, padding 0.2s ease-in-out 0.1s, left 0.2s ease-in-out 0.3s;
    left: 0;
    position: relative;
}

/*form div:last-of-type {
    margin-bottom: 0px;
}*/

label {
    height: 20px;
    font-size: 16px;
    padding-top: 3px;
    padding-left: 28px;
    cursor: pointer;
    width: auto;
    display: block;
    font-family: sans-serif;
    color: #eee;
}

div.disabled {
    position: relative;
    left: 100%;
    height: 0;
    padding: 0;
}

.disabled_whole div.enabled {
    height: 24px;
    left: 0;
    padding-top: 3px;
}

.disabled_whole div {
    -webkit-transition: height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    transition: height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    left: 100%;
    height: 0;
    padding: 0;
}

.disabled_whole.wrapper {
    max-height: 100%;
    -webkit-transition: all 0.2s ease-in-out 0.6s;
    transition: all 0.2s ease-in-out 0.6s;
    box-shadow: none;
    /*padding-bottom: 0;*/
}

.disabled_whole .search_field {
    height: 0px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    left: 100%;
    -webkit-transition: height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, margin 0.2s ease-in-out 0.2s;/* 0.2s;*/
    transition: height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, margin 0.2s ease-in-out 0.2s;
}

.search_field {
    position: relative;
    height: 26px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 3px;
    border: 0;
    outline: 0;
    -webkit-transition: height 0.2s ease-in-out 0.1s, padding 0.2s ease-in-out 0.1s, left 0.2s ease-in-out 0.3s, margin 0.2s ease-in-out 0.1s;/* 0.2s;*/
    transition: height 0.2s ease-in-out 0.1s, padding 0.2s ease-in-out 0.1s, left 0.2s ease-in-out 0.3s, margin 0.2s ease-in-out 0.1s;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    float: none;
    cursor: text;
    left: 0;
    background-color: #444;
    border: 1px solid #666;
    color: #eee;
    padding-left: 10px;
}

.search_field:focus {
    border: 1px solid #888;
}